<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles/style.css">
</head>

<body>
    <h1> favorits</h1>
    <div id="cont">
        <%data.forEach((val,index)=>{%>
            <section>
                <h2> <%=val.namee%></h2>
                <h4><%=index%></h4>
<img src="<%=val.urll%>" alt="">
<p>box_count : <%=val.box_count%></p>
<a href="/details/<%=val.id%>"><button>show-details</button></a>


        <%})%>
    </section>
    </div>
</body>

</html>